  <div class="container">
    <header class="container__head head float mgd">
      <div class="head__system float" data-btn="dashboard" style="cursor:pointer">
        <div class="system__logo">
          <img src="assets/rs/img/logo.svg">
        </div>
        <div class="system__name">ระบบนำเข้าข้อมูลจากสถานีรายงาน</div>
      </div>
      <div data-icon-rs="logout" data-btn="logout" class="head__logout">Logout</div>
    </header>
    <app-uploadinfo></app-uploadinfo>
    <app-fileupload></app-fileupload>
  </div>



